/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    background-color: #fff;
}

.container{
    max-width: 700px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid slateblue;
    border-radius: 5px;
    padding: 30px;
}

ul{
    list-style: none;
}

input{
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: 0.5rem;
}

table th{
    background-color: rgb(205, 200, 241);
    text-align: center;
}
.btn {
    background-color: green;
    color:white;
    text-align: center;
    width: 20%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: .5rem;
    outline: none;
}
 .btn :desable{
    background-color: lightgreen;
    cursor: not-allowed;
 }
 .btn :hover:not(:disabled){
     opacity: 1.8;
    
 }
 .btn-block {
     display: block;
     width: 100%;
 }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
